@charset "utf-8";

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

:root {
    --primary-color: #ff7a00;
    --primary-light: #6ba292;
    --primary-dark: #ad5402;
    --on-primary-color: #fff;
    --background-color: #0e0e0e;
    --alternate-background: #f3f3f3f3;
}

body {
    font-family: 'Open Sans', 'Inter', Arial, Helvetica, sans-serif;

    h2, h3 {
        font-family: 'Marcellus', Garamond, 'Inter', Arial, Helvetica, sans-serif;
    }

    h3 {
        font-size: 3rem;
        font-weight: 600;
        color: var(--primary-color);
        margin-bottom: 16px;
    }
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.center {
    align-items: center;
    justify-content: center;
}

header {
    background: var(--background-color);
}

.login-button {
    margin-left: 32px;
    padding: 8px 24px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    font-weight: 500;
    text-decoration: none;

    &:hover {
        background-color: var(--primary-dark);
        transition: background-color 0.25s ease-in-out;
    }
}

.title {
    height: 56px;
}

h1 {
    font-size: 2rem;
    right: 2px;
    line-height: 56px;
    color: var(--primary-color);
    font-weight: 700;
    place-content: center;
}

nav {
    height: 56px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    line-height: 56px;

    a {
        text-decoration: none;
        color: var(--on-primary-color);
        font-size: 1.6rem;
        font-weight: 500;
    
        &:hover {
            color: var(--primary-color);
            transition: color 0.25s ease-in-out;
        }
    }
}

li + li {
    margin-left: 24px;
}

.hamburger {
    font-size: 24px;
    color: #000;
    display: none;
    background: none;
    border: none;
    padding: 10px;
}

.hero-banner {
    height: 600px;
    background-color: var(--background-color);
}

.hero-content {
    width: 50%;
    text-align: left;

    h2, p {
        color: var(--on-primary-color);
    }

    h2 {
        font-size: 7rem;
        line-height: 1;
        font-family: 'Marcellus', Garamond, 'Inter', Arial, Helvetica, sans-serif;
    }

    p{
        font-size: 1.8rem;
        margin-top: 8px;
    }

}

button {
    margin-top: 32px;
    padding: 12px 24px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    font-weight: 500;

    &:hover {
        background-color: var(--primary-dark);
        transition: background-color 0.25s ease-in-out;
    }
}

.about-content {
    margin-right: 100px;

    h2 {
        font-size: 3rem;
        font-weight: 500;
        color: var(--primary-color);
    }

    p + p {
        margin-top: 16px;
    }
}


section {
    padding: 60px 0;
}

.track-order {
    background-color: var(--background-color);

    h3 {
        text-align: center;
    }
}

footer {
    height: 60px;
    background-color: #e7e7e7;

    p {
        text-align: center;
        line-height: 60px;
    }
}

.map-content-container {
    position: relative;
    margin-top: 24px;
    width: 100%;
    height: 500px;
    border: 1px solid #f3f3f3;
    border-radius: 5px;

    .preview, .map {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 5px;
    }

    .preview {
        background-color: var(--on-primary-color);
        z-index: 2;

        p {
            color: #a4a4a4;
        }
    } 
    .map {
        z-index: 1;
    }
}

.track-content p {
    color: var(--on-primary-color);
}

.hide {
    display: none;
}



